name: esc_pos_usb_plugin
description: A new Flutter for USB PRINTERS.
version: 0.0.1+1
author: Dmytro Bondarchuk <dimoll.dev@gmail.com>
homepage:

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.dimoll.esc_pos_usb_plugin
        pluginClass: EscPosUsbPlugin